*{
    margin: 0;
    padding: 0;
}
header{
  background: #5c8f96;
  padding: 1rem;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
body{
  background: black;
  color: whitesmoke;
  font-family: sans-serif;
}
.books-form{
  text-align: center;
  margin: 3rem;
}
.books-input{
  padding: 1rem;
  width: 50vw;
  border-bottom-left-radius: 1rem;
  outline: none;
}
.book-supmit{
  padding: .8rem;
  border-top-right-radius: 1rem;
  font-weight: bold;
  font-size: 1.01rem;
}
.main-div{
  margin: 3.5rem;
  padding: 4rem;
}
.book-div{
  padding: 1rem;
  display: flex;
  margin-top: 2rem
}
.book-info{
  padding: 1rem;
  line-height: 3rem;
  margin-left: 40vh;
}
a{
  text-decoration: none;
  background: #5c8f96;
  color: black;
  padding: .5rem;
  border-radius: .3rem;
}
.error{
  text-align: center;
}
.error-h1{
  color:#ccc;
  font-family: sans-serif;
  margin-top: 5vh;
}

@media (max-width: 770px){
  .books-input{
    width: 31vw;

  }
  .main-div{
    margin: 0;
  }
  .book-div{
    flex-direction: column;
  }
  .book-info{
    margin-left: 0;
    text-align: left;
  }
  
}